html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  /* padding-top equal to .navbar height. */
  padding-top: 50px;
  /* margin-bottom equal to .body-footer height. */
  margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6, dt {
  color: #2196F3;
  font-weight: 300;
}

.header-sub {
  color: #2196F3;
  font-size: 24px;
}

a, a:hover, a:focus {
  color: #F50057;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: #2196F3;
  font-weight: 400;
}

.navbar-fixed-top {
  border-bottom-width: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-nav li a {
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.2s ease-in-out;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
  color: #FFFFFF;
}

.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav .active a:focus {
  color: #FFFFFF;
  background-color: transparent;
}

.navbar-default .navbar-brand {
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.2s ease-in-out;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FFFFFF;
}

.navbar-default .navbar-brand.active,
.navbar-default .navbar-brand.active:hover,
.navbar-default .navbar-brand.active:focus {
  color: #FFFFFF;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #FFFFFF;
}

.navbar-default .navbar-toggle.collapsed .icon-bar {
  background-color: rgba(255, 255, 255, 0.7);
  transition: background-color 0.2s ease-in-out;
}

.navbar-default .navbar-toggle.collapsed:hover .icon-bar,
.navbar-default .navbar-toggle.collapsed:focus .icon-bar {
  background-color: #FFFFFF;
}

.navbar-toggle {
  border-width: 0;
}

.navbar-collapse {
  border-top-width: 0;
  box-shadow: none;
}

.navbar-right {
  margin-left: -8px;
  margin-right: -8px;
}

.navbar-right li {
  display: inline-block;
}

.navbar-right li a {
  padding-left: 8px;
  padding-right: 8px;
}

.body-header {
  text-align: center;
  padding: 22px 0 33px;
}

.no-header {
  padding-top: 44px;
}

.body-main {
  padding-bottom: 44px;
}

.body-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* height equal to body margin-bottom. */
  height: 50px;
  color: #FFFFFF;
  background-color: #2196F3;
  text-align: center;
  padding: 11px 0;
}

.logo {
  width: 100px;
  height: 100px;
  border: 6px solid;
  border-radius: 50%;
  color: #2196F3;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.7;
  margin: 22px auto;
}

.lead-bottom {
  padding-bottom: 99px;
}

.screenshot {
  max-width: 1024px;
  margin: 44px auto;
}

.screenshot img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.about-row {
  padding-bottom: 99px;
}

.about-icon {
  color: #2196F3;
  font-size: 220px;
  margin: 22px 0 11px;
}

@media (min-width: 768px) {
  .about-icon {
    font-size: 260px;
  }
}

.file-row {
  padding: 11px 0;
}

@media (min-width: 768px) {
  .vert-center {
    display: flex;
    align-items: center;
  }
}

#piper {
  color: #2196F3;
  font-size: 260px;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fade-in 0.5s ease-out;
}
